*{
    box-sizing: border-box;
    list-style: none;
}

body{
    margin: 0px;
}

header{
    background-color: lightslategrey;
    text-align: center;
    padding: 50px;
    color: white;
    background-attachment: fixed;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

section h2{
    text-align: center;
    padding: 30px;
    background-color: lightyellow;
}

section h2 span{
    color: #ececec;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 18, 131, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 10px 55px;
  border-radius: 20px;
}



/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {
    margin: 0 -5px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  section .para{
    font-size: x-large;
    padding: 40px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
  }

  .dropbtn {
    /* background-color: black; */
    color:white;
    padding: 20px;
    font-size: 20px;
    border: 5px solid;
    }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px white;
    z-index: 1;
    }
    
    .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {background-color: black;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #3e413e;

  }

  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .card {
    transition: width 2s height 2s;
  }

  .card:hover {
    width: 300px;
    height: 300px;
    background: lightgray;
  }

  
  footer{
    background-color: lightslategrey;
    text-align: center;
    padding: 50px;
    color: white;
    background-attachment: fixed;
}

footer h1{
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }