*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;

}
.container{
 width: 100%;
 max-width: 1000px;
 margin: 20px auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.block{
    width:100%;
    max-width: 318px;
    padding: 20px;
    background: #375b56;
    color: #fff;
    margin: 10px 0;
}
.id{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
}
span{
    margin: auto;
    font-size: 17px;

}
p{
    font-size: 17px;
    margin: 15px 0 0 0;
    
}
 